@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --bg-dark: var(--bg);
  --color-fg: var(--c-fg);
}

@layer base {
  :root {
    --bg: var(--color-gray-100);
    --c-fg: var(--color-gray-800);
  }

  .dark {
    --bg: rgb(10, 10, 10);
    --c-fg: var(--color-gray-400);
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply transition-colors duration-300;
    background-color: var(--bg);
    color: var(--c-fg);
    font-family: "Geist", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
}
